@model BackingPackage

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>BackingPackage</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-route-projectId="@ViewData["ProjectId"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PackageDescription" class="control-label"></label>
                <input asp-for="PackageDescription" class="form-control" />
                <span asp-validation-for="PackageDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BackingAmount" class="control-label"></label>
                <input asp-for="BackingAmount" class="form-control" />
                <span asp-validation-for="BackingAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RewardDescription" class="control-label"></label>
                <input asp-for="RewardDescription" class="form-control" />
                <span asp-validation-for="RewardDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Projects" asp-action="Details" asp-route-id="ProjectId">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
