@model Project

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input asp-for="DateCreated" class="form-control" type="hidden" />
            <input asp-for="DateUpdated" class="form-control" type="hidden" />
            <input asp-for="AmountGathered" class="form-control" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortDescription" class="control-label"></label>
                <textarea asp-for="ShortDescription" class="form-control"></textarea>
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Goal" class="control-label">@Html.NameFor(m => m.Goal) (in @NumberFormatInfo.CurrentInfo.CurrencySymbol) </label>
                <input asp-for="Goal" class="form-control" asp-format="{0:0}" />
                <span asp-validation-for="Goal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProjectCategoryId" class="control-label"></label>
                <select asp-for="ProjectCategoryId" class="form-control" asp-items="ViewBag.ProjectCategoryId"></select>
                <span asp-validation-for="ProjectCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="MediaUrl" class="control-label"></label>
                <input asp-for="MediaUrl" type="file" class="form-control" />
                <span asp-validation-for="MediaUrl" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Media" class="control-label"></label>
                <input asp-for="Media" type="file" class="form-control" />
                <span asp-validation-for="Media" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="AttatchmentSetId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="StatusId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
