USE [master]
GO
/****** Object:  Database [crowd]    Script Date: 29/6/2018 11:46:32 πμ ******/
CREATE DATABASE [crowd]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'crowd', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\crowd.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'crowd_log', FILENAME = N'd:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\crowd_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [crowd].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [crowd]
GO
USE [crowd]
GO
/****** Object:  Table [dbo].[Attatchment]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attatchment](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FilePath] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Title] [nvarchar](100) NOT NULL,
	[AttatchmentSetId] [bigint] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
 CONSTRAINT [PK_Attatchment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttatchmentSet]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttatchmentSet](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NULL,
 CONSTRAINT [PK_AttatchmentSet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BackingPackage]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BackingPackage](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[PackageDescription] [nvarchar](255) NULL,
	[BackingAmount] [decimal](9, 2) NOT NULL,
	[RewardDescription] [nvarchar](max) NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
	[ProjectId] [bigint] NOT NULL,
	[AttatchmentSetId] [bigint] NULL,
 CONSTRAINT [PK_PledgeTier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ShortDescription] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Goal] [decimal](9, 2) NOT NULL,
	[AmountGathered] [decimal](9, 2) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
	[Deadline] [date] NOT NULL,
	[StatusId] [bigint] NOT NULL,
	[ProjectCategoryId] [bigint] NOT NULL,
	[URL] [nvarchar](255) NULL,
	[UserId] [bigint] NOT NULL,
	[AttatchmentSetId] [bigint] NULL,
	[MediaURL] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectCategory]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectCategory](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProjectCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectUpdate]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectUpdate](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ProjectId] [bigint] NOT NULL,
	[AttatchmentSetId] [bigint] NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Text] [ntext] NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NULL,
	[StatusId] [bigint] NOT NULL,
 CONSTRAINT [PK_ProjectUpdate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 29/6/2018 11:46:32 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 29/6/2018 11:46:33 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[URL] [nvarchar](255) NULL,
	[Organization] [nvarchar](100) NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserBacking]    Script Date: 29/6/2018 11:46:33 πμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserBacking](
	[UserId] [bigint] NOT NULL,
	[BackingId] [bigint] NOT NULL,
	[TransactionId] [bigint] NULL,
	[Amount] [decimal](9, 2) NOT NULL,
 CONSTRAINT [PK_UserRLPledge] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[BackingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Project] ADD  CONSTRAINT [DF_Project_TotalAmount]  DEFAULT ((0)) FOR [AmountGathered]
GO
ALTER TABLE [dbo].[Attatchment]  WITH CHECK ADD  CONSTRAINT [FK_203] FOREIGN KEY([AttatchmentSetId])
REFERENCES [dbo].[AttatchmentSet] ([Id])
GO
ALTER TABLE [dbo].[Attatchment] CHECK CONSTRAINT [FK_203]
GO
ALTER TABLE [dbo].[BackingPackage]  WITH CHECK ADD  CONSTRAINT [FK_213] FOREIGN KEY([AttatchmentSetId])
REFERENCES [dbo].[AttatchmentSet] ([Id])
GO
ALTER TABLE [dbo].[BackingPackage] CHECK CONSTRAINT [FK_213]
GO
ALTER TABLE [dbo].[BackingPackage]  WITH CHECK ADD  CONSTRAINT [FK_50] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[BackingPackage] CHECK CONSTRAINT [FK_50]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_207] FOREIGN KEY([AttatchmentSetId])
REFERENCES [dbo].[AttatchmentSet] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_207]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_25] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_25]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_35] FOREIGN KEY([ProjectCategoryId])
REFERENCES [dbo].[ProjectCategory] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_35]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_82] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_82]
GO
ALTER TABLE [dbo].[ProjectUpdate]  WITH CHECK ADD  CONSTRAINT [FK_228] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Project] ([Id])
GO
ALTER TABLE [dbo].[ProjectUpdate] CHECK CONSTRAINT [FK_228]
GO
ALTER TABLE [dbo].[ProjectUpdate]  WITH CHECK ADD  CONSTRAINT [FK_254] FOREIGN KEY([AttatchmentSetId])
REFERENCES [dbo].[AttatchmentSet] ([Id])
GO
ALTER TABLE [dbo].[ProjectUpdate] CHECK CONSTRAINT [FK_254]
GO
ALTER TABLE [dbo].[ProjectUpdate]  WITH CHECK ADD  CONSTRAINT [FK_267] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([Id])
GO
ALTER TABLE [dbo].[ProjectUpdate] CHECK CONSTRAINT [FK_267]
GO
ALTER TABLE [dbo].[UserBacking]  WITH CHECK ADD  CONSTRAINT [FK_78] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserBacking] CHECK CONSTRAINT [FK_78]
GO
ALTER TABLE [dbo].[UserBacking]  WITH CHECK ADD  CONSTRAINT [FK_86] FOREIGN KEY([BackingId])
REFERENCES [dbo].[BackingPackage] ([Id])
GO
ALTER TABLE [dbo].[UserBacking] CHECK CONSTRAINT [FK_86]
GO
USE [master]
GO
